h1, #Button
{
    display: flex;
    justify-content: center;
    margin-top: 1%;

}
button
{
    border: solid black 2px;
    font-size: 25px;
}
button:hover
{
    background-color: green;
    font-size: 30px;
}
#anzeige
{
    display: flex;
    background-color: green;
    margin: 5%;
    justify-content: center;
    font-size: large;
}
#anzeige1
{
    display: flex;
    margin: 5%;
    background-color: red;
    justify-content: center;
    font-size: large;
}